# Editor
/.vscode

# Go
/vendor

# OS
.DS_Store

# Temp
/bin
/foo
/cover.out
/dist
/temp
/tmp
/refs
/.task

# Build
/sdt

# Agent
/context

# Result
trivi-results.json
/coverage.*

# sdt:start
sdt.context/tmp/
sdt.context/docs/
sdt.context/
# sdt:end
