# Editor
/.vscode

# Go
/vendor

# OS
.DS_Store

# Temp
/bin
/foo
/cover.out
/dist
/temp
/tmp
/refs
/.task

# Build
/sdt

# Result
trivi-results.json
/coverage.*

# Other
/TODO.md

# sdt:start
context/tmp/
context/docs/
context/
# sdt:end
