# Editor
/.vscode

# Go
/vendor

# OS
.DS_Store

# Temp
/bin
/foo
/cover.out
/dist
/temp
/tmp
/refs
/.task

# Build
/sdt

# Agent
/context

# Result
trivi-results.json
/coverage.*




sdt.context/tmp/
